<h3>{{comment.title}}</h3>
<h5>{{comment.author}}</h5>
<p>{{comment.body}}</p>

<button {{action 'deleteComment' comment}}>Delete Comment</button>
{{update-comment comment=comment updateComment="updateComment"}}
