<h3>{{post.title}}</h3>
{{#if updatePostForm}}
  <h4>Update {{post.title}}</h4>
    <div>
      <form class="form-control">
        <div class="form-group">
          <label for="title">Title: </label>
          {{input value=title id="title" placeholder=post.title}}
        </div>

        <div class="form-group">
          <label for="author">Author: </label>
          {{input value=author id="author" placeholder=post.author}}
        </div>

        <div class="form-group">
          <label for="body">Body: </label>
          {{textarea rows="10" cols="100" value=body id="body" placeholder=post.body}}
        </div>

        <div class="form-group">
          <label for="image">Image URL: </label>
          {{input value=image id="image" placeholder=post.image}}
        </div>

        <button {{action 'update' post}} class="btn btn-success">Save</button>
      </form>
    </div>
{{else}}
  <button {{action 'updatePostForm'}} class="btn btn-info">Update</button>
{{/if}}
